header{
  background-color: #006989 ;
  /* padding: 25px 125px 10px 120px ; */
  padding: 2% 5%;
}


@media (min-width: 768px) {
  header {
    padding: 1.5% 4%;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 1% 3%;
  }
}